.navBar {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    top: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 10;
    background: #0a192f;

    &.hideNavBar {
        top: -100%;
    }

    &.navBarShadow {
        box-shadow: 0 0 10px 0;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        counter-reset: item 0;

        .navItemsWrapper {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .navItemsContainer {
                margin-right: 20px;
                font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                color: #ccd6f6;

                li {
                    display: inline-block;
                    position: relative;
                    margin: 0 5px;
                    counter-increment: item 1;
                    font-size: 13px;

                    a {
                        display: inline-block;
                        text-decoration: none;
                        text-decoration-skip-ink: auto;
                        position: relative;
                        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                        cursor: pointer;
                        padding: 10px;
                        color: inherit;

                        &::before {
                            content: "0" counter(item) ".";
                            margin-right: 5px;
                            color: #64ffda;
                            font-size: 13px;
                            text-align: right;
                        }
                    }
                    &:hover {
                        color: #64ffda;
                    }
                }
            }

            .resumeBtn {
                color: #64ffda;
                background-color: transparent;
                border: 1px solid #64ffda;
                border-radius: 4px;
                padding: 0.75rem 1rem;
                line-height: 1;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                margin-left: 15px;
                font-size: 13px;

                &:hover {
                    background-color: rgba(100, 255, 218, 0.1);
                }
            }
        }
    }
}
.logo {
    color: #64ffda;
    font-size: 35px;
    padding: 5px;
    font-weight: bold;
    margin-left: 50px;
    border: #2c3e50 2px dashed;
}

.menuBar {
    font-size: 30px;
    color: #64ffda;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    .menuBar {
        display: block;
    }

    .navBar {
        nav {
            .navItemsWrapper {
                .navItemsContainer {
                    position: fixed;
                    width: calc(min(400px, 75vw));
                    height: 100vh;
                    background: #112240;
                    text-align: center;
                    transition: all 0.5s;
                    top: 0;
                    right: -20px;

                    &.hideMenuBar {
                        right: -100%;
                    }

                    li {
                        display: block;
                        margin: 0 auto 20px;
                        counter-increment: item 1;
                        text-align: center;
                        font-size: clamp(14px, 4vw, 18px);

                        a {
                            color: inherit;
                            cursor: pointer;
                            width: 100%;
                            padding: 3px 20px 20px;

                            &::before {
                                display: block;
                                margin: unset;
                                text-align: center;
                            }
                        }

                        &:first-child {
                            margin-top: 20vh;
                        }
                    }

                    .resumeBtn {
                        display: inline-block;
                        padding: 18px 50px;
                        margin: 10% auto 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
