@import "../../../config/variables";

.experience-section {
    display: flex;

    &__tab-container {
        display: flex;
        flex-direction: column;
    }
    &__tab {
        display: flex;
        align-items: center;
        height: $tab-height;
        padding: 0px 20px 2px;
        border-left: 2px solid $lightest-navy;
        font-family: $font-mono;
        font-size: $fz-xs;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background-color: $light-navy;
            color: $green;
        }
        &--active {
            color: $green;
            border-left: 2px solid $green;
        }
    }
    &__content-container {
        margin-left: 20px;
    }
    &__content {
        padding: 10px 5px;
    }
    &__company-container {
        font-size: $fz-xxl;
        font-weight: 500;
    }
    &__company {
        color: $green;
        text-decoration: none;

        &--link {
            color: $green;
        }
    }
    &__range {
        margin: 5px 0 25px;
        font-family: $font-mono;
        font-size: $fz-xs;
        color: $light-slate;
    }
    &__statement-container {
        font-size: $fz-lg;
    }
    &__statement {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        list-style: none;

        &::before {
            content: "▹";
            position: absolute;
            left: 0px;
            color: $green;
        }
    }
}

@media (max-width: 600px) {
    .experience-section {
        flex-direction: column;

        &__tab-container {
            flex-direction: row;
        }
        &__content-container {
            margin-left: 0;
        }
        &__tab-container {
            overflow-x: auto;
            width: calc(100% + 100px);
            padding-left: 50px;
            margin-left: -50px;
            margin-bottom: 30px;
        }
        &__tab {
            justify-content: center;
            width: $tab-width;
            padding: 0px 15px;
            border-left: 0px;
            border-bottom: 2px solid $lightest-navy;

            &--active {
                border-bottom: 2px solid $green;
            }
        }
    }
}

@media (max-width: 480px) {
    .experience-section__tab-container {
        width: calc(100% + 50px);
        padding-left: 25px;
        margin-left: -25px;
    }
}
