@import "../../../config/variables";

.contact-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__content {
        margin-bottom: 15px;
    }
}

.platform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    transition: $transition;

    &__logo {
        width: 30px !important;
        height: 30px !important;
        fill: $lightest-slate;

        &--resize {
            width: 42px !important;
            height: 42px !important;
            stroke: $lightest-slate;
            stroke-width: 0.5;
        }
    }

    &__name {
        margin-top: 5px;
        color: $light-slate;
    }

    &:hover {
        transform: translateY(-5px);
        .platform__logo {
            fill: $green;
        }
        .platform__name {
            color: $green;
        }
    }
}
