@import "./config/variables";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $navy;

  &.body--blur {
    height: 100%;
    overflow: hidden;

    .page-content > * {
      filter: blur(5px) brightness(0.7);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      pointer-events: none;
      user-select: none;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}
